<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:名称空间，相当于java中的package，用户放置sql语句名称的冲突（sql语句隔离） -->
<!-- mapper代理开发方法中，namespace属性值，必须是mapper代理接口的全限定名称 -->
<mapper namespace="cn.itcast.core.dao.UserMapper">

 	
 	<!-- 新增一个用户，说明：
 		insert标签：用于放置新增的sql语句
 		#{id}：站位符，当参数传递的是pojo的时候，花括号中的内容是pojo的属性
 	 -->
 	 <insert id="insertUser" parameterType="cn.itcast.core.pojo.User"
 	 	useGeneratedKeys="true" keyColumn="id" keyProperty="id">
 	 	
 	 	insert into `user`(id,name,birthday) 
 	 	values(#{id},#{name},#{birthday})
 	 </insert>
	

	
	
</mapper>
